<div class="button-container">
    <div class="button-group">
      <ng-container *ngIf="currentRoute === 'home-page-component'; else homeAndLogout">
        <app-about-button></app-about-button>
        <app-logout-button></app-logout-button>
      </ng-container>
  
      <ng-template #homeAndLogout>
        <app-home-button></app-home-button>
        <app-logout-button></app-logout-button>
      </ng-template>
    </div>
  
    <!-- Profil-Icon (außer auf der Login-Seite) -->
    <ng-container *ngIf="currentRoute !== 'login-page-component'">
      <app-profile-icon />
    </ng-container>
  </div>
  