* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header {
    background-image: url('https://www.flachau.com/fileadmin/_dc_processed_folder/a/e/csm_Bergwandern_in_Flachau_693d5c4c50.jpeg');
    background-size: cover;
    background-position: center;
    height: 35vh; /* Bild nimmt 35% der Bildschirmhöhe ein */
    padding: 20px;
    position: relative;
    color: #000000;
}
.header-title {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 2rem;
    font-weight: bold;
}
.header-bottom {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 1.2rem;
}
.header-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 40px; /* Abstand zwischen den Karten */
    margin-top: 40px;
  }
  