<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Activity Explorer</title>
</head>
<body>
    <header class="header">
        <div class="header-title">
            <h1>Personal Activity Explorer</h1>
        </div>
        <div class="header-bottom">
            <h2 style="color: #D47528;">Embrace spontaneity and explore a world of activities created just for you</h2>
        </div>
        <div class="header-button">
            <app-filter-your-way-to-fun-button></app-filter-your-way-to-fun-button>
        </div>
    </header>

    <app-navigation></app-navigation>
    <app-footer></app-footer>
</body>
</html>
