<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Activity Explorer</title>
</head>
<body>
    <header class="header">
        <div class="header-title">
            <h1>Personal Activity Explorer</h1>
        </div>
        <div class="header-bottom">
            <h3 style="color: black !important;">Embrace spontaneity and explore a world of activities created just for you</h3>
        </div>
        <div class="header-button">
            <app-filter-your-way-to-fun-button></app-filter-your-way-to-fun-button>
        </div>
    </header>
    <div class="card-container">
        <app-card 
          imageSrc="https://s3-alpha-sig.figma.com/img/84a3/6ba8/1fab3bffe4facadd2fe1eed116db4bda?Expires=1743379200&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=VKE8xpVi6wGel2mfgXTlCRZxpNJDY0npd-HGCFZ2YEM461plYA7d-sHlvm5NNPS3Sjf58wszQnSRNWvu5ilTZxwxOCbcTTYnLHifh1aBbDaft5z8aES3e5e4sCJe7RXXbSJbnv4hs4jKAX-~ETVVMPyVtBurMfX6TaTtYkurmBcP4GXTEGpkLg6uDk-jOigxGiC~FmA6dEGJEfWDYfup1-UfWlQOVLxKSA4Z3YxI4a--0t7Cl9RdOrq57-wZhQnxMwr2smV0olpPFC0hIkAnGQvd6zXYh7OJVPM-DeFrn45Ti6FWfRkb7sU8Wq1HrOeYP-rZFR3LwZ7LTO4l8M7PQA__" 
          title="Edit your activities or add one" 
          description="Keep track of the experiences that inspire you." 
          link="/nature">
        </app-card>
      
        <app-card 
          imageSrc="https://s3-alpha-sig.figma.com/img/61fe/8ad6/2a931a7e00540b76535525b0b4e5dce1?Expires=1743379200&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=MtlrlAlWhlIGOAazn~3vDQ1UES0gZSpbTBUqu~T1LA0W9hnap~zkj0PRR~3Cb7BkKi15~lMGVibVcL90HIse5dfHqqYZeqdGubUi-sUHoI3PeyMheZZ8Ixg2aqv8b6P7JTErEbbFFR2RS9gmWwzZNZ2dL2jwplzPCPbF2c16FYFNMLSjBAbXhhf0mIRMkk3-sIXdDyclbrUwrvSqOjIHE7Yz3BMVKnK1gmIbTyMruVMUgvJ31zwnr-xW~eHHSmgWIZV8vWl-iPUpi2n8HR2WyhmAKpBDTT2k9eBsyTFbSfs0gLzyDwJ~aODo~YAmhXswsCSx9Qeg1SZuF3UJDKX6Cw__" 
          title="Edit your filters or add one" 
          description="Define filters to find the perfect fit." 
          link="/adventure">
        </app-card>
      </div>
      

    <app-navigation></app-navigation>
    <app-footer></app-footer>
</body>
</html>
