<div class="left-section">
    <h2>About</h2>
    <h3>New to our platform? Let's get you up and running!</h3>
    <p class="section-text">We all know the struggle of deciding what to do next. One idea feels too far out of reach, another isn’t adventurous enough, or the weather just isn’t cooperating. If you can relate, our personalized Activity Finder is here to help!</p>
    <p class="section-text">Discover and organize activities tailored to your tastes! Whether you crave an adrenaline rush, a relaxing retreat, or a creative hobby, our platform empowers you to create, manage, and find experiences that fit your lifestyle.</p>
    <p class="section-text">Easily add activities to build your personal collection. Use custom filters to refine your search.</p>
    <p class="section-text">Let your Activity Finder do the heavy lifting while you sit back and enjoy your perfect experience!</p>
</div>
  