.btn-dark {
    background-color: black;
    color: white;
  }
  
  .btn-gray {
    background-color: gray;
    color: white;
  
    &:hover {
      background-color: rgb(146, 142, 142); // Dunkleres Grau beim Hover
      color: white;
    }
  }