<app-navigation></app-navigation>

<div class="spacer"></div> <!-- Fügt Abstand ein -->

<div class="manager-container">
    <h1>Activity Manager</h1>
    <h3>Add, Edit, Delete or Get an Overview. Click on an activity to inspect the details or to edit.</h3>
    
    <app-add-button></app-add-button>
  
    <div class="grid-container">
      <app-activity-card 
        *ngFor="let activity of activities; let i = index"
        [imageSrc]="activity.imageSrc"
        [title]="activity.title"
        (delete)="deleteActivity(i)">
      </app-activity-card>
    </div>
</div>

<app-footer></app-footer>
