    <h4 class="login-title mb-3">Login</h4>

    <!-- Login Form -->
    <form id="loginForm">
      <!-- E-Mail Input -->
      <div class="mb-3">
        <input type="email" class="form-control input-field" id="loginEmail" placeholder="Email" required>
      </div>
      <!-- Password Input -->
      <div class="mb-3">
        <input type="password" class="form-control input-field" id="loginPassword" placeholder="Password" required>
      </div>
      <!-- Buttons für Login -->
      <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-dark w-50">Login</button>
        <button type="button" class="btn btn-secondary w-50">Forgot password?</button>
      </div>
    </form>
