<h4 class="login-title mb-3">Login</h4>

<form id="loginForm" class="d-grid gap-3">
  <!-- E-Mail Input -->
  <div class="mb-3">
    <input type="email" class="form-control input-field w-100" id="loginEmail" placeholder="Email" required>
  </div>
  <!-- Password Input -->
  <div class="mb-3">
    <input type="password" class="form-control input-field w-100" id="loginPassword" placeholder="Password" required>
  </div>
  <!-- Buttons für Login -->
  <div class="d-flex gap-2">
    <app-login-button class="flex-fill"></app-login-button>
    <app-forgot-password-button class="flex-fill"></app-forgot-password-button>
  </div>
</form>
