<div class="button-container">
    <!-- Prüfe, ob der aktuelle Pfad 'navigation-component' ist -->
    <ng-container *ngIf="currentRoute === 'home-page-component'; else homeAndLogout">
        <!-- Home und Logout Buttons anzeigen -->
        <app-about-button></app-about-button> <!-- Diesen Button musst du ggf. selbst erstellen -->
        <app-logout-button></app-logout-button>
    </ng-container>

    <ng-template #homeAndLogout>
        <!-- About und Logout Buttons anzeigen -->
        <app-home-button></app-home-button>
        <app-logout-button></app-logout-button>
    </ng-template>
</div>
