<h4 class="new-here-title mb-3">New here?</h4>

        <!-- Registrierung Form -->
        <form>
          <!-- Email Input für die Registrierung -->
          <div class="mb-3">
            <input type="email" class="form-control input-field" id="registerEmail" placeholder="Email" required>
          </div>
          <!-- Password Input für die Registrierung -->
          <div class="mb-3">
            <input type="password" class="form-control input-field" id="registerPassword" placeholder="Choose password" required>
          </div>
          <!-- Confirm Password Input -->
          <div class="mb-3">
            <input type="password" class="form-control input-field" id="confirmPassword" placeholder="Confirm password" required>
          </div>
          <!-- Button für Registrierung -->
          <app-registration-button></app-registration-button>
        </form>